/* Главный контейнер */
.presstakeWidgetContainer{
  display: block;
  font: 14px/1.5em Arial, Verdana, sans-serif;
  overflow: hidden;
  margin: 0 auto;
}
.presstakeWidget_landscape{
  max-width: 1000px;
  min-width: 450px;
}
.presstakeWidget_portrait{
  width: 200px;
  height: 100%;
  max-height: 800px;
  min-height: 500px;
}
/* Шапка */
.presstakeWidgetHeader{
  overflow: auto;
}
.presstakeWidget_landscape .presstakeCityContainer{
  float: left;
  margin: 5px;
}
.presstakeWidget_portrait .presstakeCityContainer{
  font-size: 12px;
}
.presstakeCityContent{
  margin-left: 5px;
}
.presstakeWidget_portrait .presstakeCityContent{
  white-space: nowrap;
}
.presstakeWidget_landscape .presstakeMerchantContainer{
  float: right;
  margin: 5px;
}
.presstakeWidget_portrait .presstakeMerchantContainer{
  font-size: 12px;
}
.presstakeMerchantContent{
  margin-left: 5px;
  text-decoration: none;
  color: #969595;
}
/* Тело */
.presstakeWidget_landscape .presstakeWidgetList{
  height: 200px;
}
.presstakeWidget_portrait .presstakeWidgetList{
  height: calc(100% - 64px);
}
.presstakeListButton{
  cursor: pointer;
  background: #f5f5f5;
  border: none;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
  outline: none;
}
.presstakeWidget_landscape .presstakeListButton{
  height: 200px;
  width: 30px;
}
.presstakeWidget_portrait .presstakeListButton{
  width: 100%;
  height: 30px;
  font-size: 16px;
}
.presstakeListButton:hover{
  background: #efefef;
}
.presstakeWidget_landscape .presstakeListButton_left{
  float: left;
}
.presstakeListContainer{
  text-align: center;
}
.presstakeWidget_landscape .presstakeListContainer{
  display: inline-block;
  width: calc(100% - 60px);
  height: 200px;
  white-space: nowrap;
  overflow-x: hidden;
}
.presstakeWidget_portrait .presstakeListContainer{
  display: block;
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: hidden;
}
.presstakeListItemContainer{
  text-align: left;
  text-decoration: none;
  color: #000;
  overflow-y: auto;
  padding: 5px;
  box-sizing: border-box;
  -webkit-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}
.presstakeListItemContainer:hover{
  box-shadow: inset 0 0 0px 1px #00b900;
}
.presstakeWidget_landscape .presstakeListItemContainer{
  width: 176px;
  display: inline-block;
  margin: 0 5px;
}
.presstakeWidget_portrait .presstakeListItemContainer{
  display: block;

}
.presstakeListImage{
  display: block;
  height: 111px;
  margin: 0 auto;
}
.presstakeListShopLink{
  text-decoration: none;
}
.presstakeListDescription{
  position: relative;
  white-space: nowrap;
  overflow-x: hidden;
}
.presstakeListDescription::after{
  content: "";
  width: 10px;
  height: 21px;
  background: rgba(255, 255, 255, 0.74);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.presstakeListPrice{
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  vertical-align: middle;
}
.presstakeShopButton{
  float: right;
  text-decoration: none;
  background: #00b900;
  padding: 2px 3px;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.presstakeShopButton:hover{
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}
.presstakeWidget_landscape .presstakeListButton_right{
  float: right;
}
/* подвал */
.presstakeWidget_landscape .presstakeWidgetFooter{
  float: right;
}
.presstakeWidget_portrait .presstakeWidgetFooter{
  text-align: center;
  font-size: 13px;
}
.presstakeFooterLink{
  text-decoration: none;
  padding: 3px 6px;
  color: #00733f;
}
.presstakeWidget_landscape .presstakeFooterLink{
  display: inline-block;
  background: #efefef;
  border-radius: 0 0 5px 5px;
}

