.presstakeWidgetContainer{
  display: block;
  font: 14px/1.5em Arial, Verdana, sans-serif;
}
.presstakeWidget_landscape{
  width: 100%;
  max-width: 1000px;
  min-width: 450px;
  height: 100%;
  max-height: 400px;
  min-height: 200px;
  overflow: hidden;
  margin: 0 auto;
}
.presstakeWidgetHeader{
  overflow: auto;
}
.presstakeCityContainer{
  float: left;
  margin: 5px;
}
.presstakeCityContent{
  margin-left: 5px;
}
.presstakeMerchantContainer{
  float: right;
  margin: 5px;
}
.presstakeMerchantContent{
  margin-left: 5px;
  text-decoration: none;
  color: #969595;
}
.presstakeListItemContainer{
  width: 176px;
  margin: 0 5px;
  display: inline-block;
  text-align: left;
  text-decoration: none;
  color: #000;
}
.presstakeListButton{
  height: 200px;
  width: 30px;
  cursor: pointer;
  background: #f5f5f5;
  border: none;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
  outline: none;
}
.presstakeListButton:hover{
  background: #efefef;
}
.presstakeListButton_left{
  float: left;
}
.presstakeListContainer{
  display: inline-block;
  width: calc(100% - 60px);
  height: 200px;
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
}
.presstakeListButton_right{
  float: right;
}
.presstakeListDescription{
  position: relative;
  white-space: nowrap;
  overflow-x: hidden;
}
.presstakeListDescription::after{
  content: "";
  width: 10px;
  height: 21px;
  background: rgba(255, 255, 255, 0.74);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.presstakeListShopLink{
  text-decoration: none;
}
.presstakeListPrice{
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  vertical-align: middle;
}
.presstakeShopButton{
  float: right;
  text-decoration: none;
  background: #00b900;
  padding: 2px 3px;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.presstakeShopButton:hover{
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}
.presstakeListImage{
  display: block;
  height: 125px;
  margin: 0 auto;
}
.presstakeFooterLogo{
  width: 50px;
}
.presstakeFooterLink{
  display: inline-block;
  text-decoration: none;
  background: #efefef;
  padding: 3px 6px;
  color: #00733f;
  border-radius: 0 0 5px 5px;
}
.presstakeWidgetList{
  height: 200px;
}
.presstakeWidgetFooter{
  float: right;
}
